.addOrder{
    border: 2px solid rgb(133, 128, 128);
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    border-radius: 20px;
    font-family:'Courier New', Courier, monospace;
}
.addOrder label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
    font-size: 20px;
}
.addOrder input,select,button{
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
}
.addOrder button:hover{
    cursor: pointer;
    transition: transform .1s ease-out ;
    transform: scale(1.1);
}